@{
    ViewBag.Title = "DataUri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataUri example <a class="wiki" href="https://github.com/janjongboom/Moth/wiki/Data-Uri's">documentation</a></h2>
<p>
    Moth supports inline-images, also called Data URIs. They can be served from your project, or external.
</p>

<h3>Relative path:</h3>
<pre>@@Html.DataUriImage("~/content/images/fundalogo.gif")</pre>
<p>
    @Html.DataUriImage("~/content/images/fundalogo.gif")
</p>

<h3>External path:</h3>
<pre>@@Html.DataUriImage("http://t1.gstatic.com/images?q=tbn:ANd9GcSID0NUhDsTWXqGjpg07A4f_VSp7SOFN7g4pdN4lzQo-HyEsI4A")</pre>
<p>
    @Html.DataUriImage("http://t1.gstatic.com/images?q=tbn:ANd9GcSID0NUhDsTWXqGjpg07A4f_VSp7SOFN7g4pdN4lzQo-HyEsI4A")
</p>