@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo's!</h2>
<p>Here are some demo's that are usefull in combination with the docs on the wiki page.</p>
<ul>
    <li>@Html.ActionLink("Output Caching", "OutputCaching")</li>
</ul>