@{
    ViewBag.Title = "OutputCaching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OutputCaching example <a class="wiki" href="https://github.com/janjongboom/Moth/wiki/Server-side-caching">documentation</a></h2>
<p>
    Moth has a sophisticated Output Caching architecture, 
    that allows you to specify which parts <strong>shouldn't</strong> be cached.
</p>

<h3>This action will be cached</h3>
<pre>@@{ Html.RenderAction("CurrentDateTime", "Home"); }</pre>
<p>@{ Html.RenderAction("CurrentDateTime", "Home"); }</p>

<h3>This action will be refreshed every time</h3>
<pre>@@{ Html.RenderMothAction("CurrentDateTime", "Home"); }</pre>
<p>@{ Html.RenderMothAction("CurrentDateTime", "Home"); }</p>