<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @{
        // you can register dependencies that are global here; both CSS and javascript
        Html.RegisterStylesheet("~/Content/Site.css");
        Html.RegisterScript("~/Scripts/jquery-1.5.1.js");
    }

    @{ /* make sure to render CSS at the top of the page */ }
    @Html.RenderCss()
</head>

<body>
    <div class="header">
        <h1>Moth</h1>
        <em>Making the web fast</em>
    </div>

    @RenderBody()

    @{ /* make sure to render scripts at the bottom of the page; as it blocks execution */ }
    @Html.RenderScripts()
</body>
</html>
