<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @{
        Html.RegisterStylesheet("~/Content/Site.css");
        Html.RegisterScript("~/Scripts/jquery-1.5.1.js");
    }
    @Html.RenderCss()
</head>

<body>
    <div class="header">
        <h1>Moth</h1>
        <em>Making the web fast</em>
    </div>

    @RenderBody()
</body>
</html>
